# Each language has its own language file, this allows you to send messages based on the language of the player's client. 
# The file must be in the lang folder. You can add new ones using the ISO 639-1 country code, ask the AI ​​for help in any case.
# If the language is not found or if there are global messages or messages to the console, the default language will be used.
default_lang: "en"

#database: sqlite, mysql
data_mode: "sqlite"
mysql:
  url: ""
  username: ""
  password: ""

# Will disable combat log for the specified worlds
disabled_worlds:
  - "duels"
  - "another_world"

utilities:
  enchanted_golden_apple_recipe: true # You need to reset the server if you change this.

# It's used to see the damage per second. 
# It's good if you disable the cooldown to make it look like 1.8. 
# If you have any questions, check the documentation on the plugin's page.
dps_feature:
  entity_type: "SKELETON"
  name: "DPS"
  location:

#This commands will be disabled when the player is in combat
command_blacklist:
  - "duel"
  - "fly"
  - "heal"
  - "god"

# Players or the console can put a price on a player's head. 
# If a player kills them, they'll get the price. 
# If the player doesn't die during that time, they'll get the money. 
# If the player dies on their own, the contract will be lost.
contracts:
  # Every 60 hours by default, a contract will be automatically created for the player with the longest time since their last death.
  create_cooldown: 60 # In hours
  # how long will the contract last
  duration: 60
  mininum_price: 200 # Minimum price for a contract
